body {
  margin: 0;
  text-align: center;

}
h1 {
  margin: 0;
  font-family: 'Indie Flower', cursive;
}
p {
  font-family: 'Noto Sans HK', sans-serif;
}
.skills-image {
  width: 100px;
}

.top-container {
  background-color: orange;
  padding: 20px;
}
.top-cloud {
  position: relative;
  left: 33%;
}
.bottom-cloud {
  position: relative;
  right: 33%;
}
.mountain {
  width: 50%;
}

.credits {
  font-size: 10px;
}
